<style type="text/css">
	header {
		display: none;
	}
</style>
<div class="background">

<div class="wrapper">
<div class="jumbotron">
	<div class="container">
		<h1>List of Lists</h1>
		<h2>Remember all the things</h2>
		<a class="btn btn-primary btn-lg" id="login-button" href="/users/new" role="button">Sign up</a>
		<p>Already have an account? <strong><a href="/login">Sign in.</a></strong></p>
	</div>
</div>
</div>
</div>