
<div class="jumbotron">
  <div class="container">
  <h1>Hello, world!</h1>
  <p>This is an app about Lists!</p>
  <p>Basic concept is simple, this is like Pintrest. You make a list of your favorite things and put them in a long list of lists....LOL!</p>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a></p>
    </div>
</div>


